:root {
--title-color: red;
--text-color: black;
--

}
* {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}


header h1 {
    color: var(--title-color);
    text-align:center;
}

header p {
    color: var(--text-color);
    text-align: center;
    flex: wrap;
}

/* class selectors */

section{
    display:flex;
}

.row {

}

.card {
    display: flex;
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black;
}

.card-title {
    position: relative;
    margin-top: -20px;
    border: 3px solid black;
    text-align: center;
}

